/**
  * Created by IntelliJ IDEA.
  * User: zhuchuansheng
  * Date: 2020/6/5
  * Time: 12:50
  * Describe:
  */
.MyCard{
  position: relative;
  width: 100px;
  height: 100px;
  background: #1890ff;
  text-align: center;
  font-size: 16px;
}
.MyCard>a{
  text-decoration: none;
  color: white;
}
.MyCard>a:hover{
  color: darkblue;
}
.card-item{
  position: absolute;
  width: 100px;
  height: 40px;
  background: sandybrown;
}
.card-item:nth-child(1){
  transform:rotate(45deg);
}
.card-item:nth-child(2){
  transform:rotate(90deg);
}
.card-item:nth-child(3){
  transform:rotate(135deg);
}
.card-item:nth-child(3){
  transform:rotate(135deg);
}

