/**
  * Created by IntelliJ IDEA.
  * User: zhuchuansheng
  * Date: 2020/6/5
  * Time: 12:50
  * Describe:
  */
.my-card-box{
  width: auto;
  height: 180px;
  list-style: none;
  border: #1890ff solid 1px;
}
.my-card-item{
  width: 200px;
  height: 120px;
  border: rgba(0, 0, 0, 0.1) solid 1px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
}

.my-card-item:hover{
  border: rgba(255, 255, 255, 0.5) solid 1px;
}
.my-card-img{
  width: 50%;
  height: 100%;
  float: left;
  border-radius: 5px;
}
.my-card-text{
  width: 50%;
  float: left;
  padding: 10% 0;
  text-align: center;
}
.my-card-text>a, .my-card-text>p{
  text-decoration: none;
  color: white;
  font-size: 18px;
  line-height: 2;
}
.my-card-text>p{
  font-size: 12px;
}
