/**
  * Created by IntelliJ IDEA.
  * User: zhuchuansheng
  * Date: 2020/6/5
  * Time: 12:50
  * Describe:
  */
.card-bar-box{
  width: 100%;
  list-style: none;
  margin-top: 0;
  margin-left: 6%;
  padding: 0;
}
.card-item{
  float: left;
  margin: 2%;
  height: 50px;
}
.card-item>a{
  color: white;
  padding: 2px 3px;
}
.card-title{
  margin-top: 16%;
  color: white;
  text-align: center;
  font-size: 24px;
}
